<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Rythmo creator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>
</head>
<body>
  <div id="content" style="display: flex;">
    <div id="video_div" style="display: flex; flex-direction: column;">
      <input type="file" id="video_input" accept="video/*" value="" autocomplete="off" />
      <video id="video_element" controls>
      </video>
      <canvas id="dialog_canvas"></canvas>
      <label for="character_count">Nombre de personnages</label>
      <input type="number" id="character_count" value="" autocomplete="off"/>
      <button id="count_confirm">Confirmer</button>
    </div>
    <div id="dialog_div">
      <label for="rythmo_input">Importer un projet existant</label>
      <input type="file" id="rythmo_input" accept="*.ry" value="" autocomplete="off" />
      <br>
      <button id="dialog_button" disabled="true">Ajouter du dialogue</button>
      <div id="dialog_anchor"></div>
    </div>
    <div id="export_div">
    <button id="export" style="height: 70px;">Exporter</button>
    </div>
  </div>
</body>
<script src="/static/main.js">
</script>
</html>
